*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;

}

.children-dropdown {
  opacity: 0;
  transform: translateY(-10px); 
  transition: all 0.3s ease-in-out;
}

.children-dropdown.active {
  opacity: 1;
  transform: translateY(0); 
}


  @media (min-width: 768px) and (max-width: 992px){
.slick-track{
 
  height: 80vh;
}

.slick-slide img{
  height: 100vh;
  background-position: center bottom;
 
}
  }

